body {
    color: rgb(197, 1, 76);
    background: pink;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px #edeff3;
    padding: 20px;
    font-size: 32px;
    color: #ce0e67;
}

.chamada {
    background: rgb(255, 165, 184);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 26px;
}

p {
    font-size: 18px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(128, 0, 75);
}

.categoria h2 {
    color: rgb(197, 1, 76);
}